<h1 class='welcome'><%= "Welcome, #{@user.email}!" %></h1>
<section>
  <div class="nav_buttons">
    <%= button_to "Discover Movies", "/discover", method: :get %>
    <%= form_with url: dashboard_index_path, method: :post, local: true do |f| %>
      <%= f.label :friend_search, "Enter an email to find a friend: " %>
      <%= f.text_field :friend_search %>

      <%= f.submit "Add friend" %>
    <% end %>
  </div>
  <h3>Friends</h3>
  <% if @user.friends.count == 0 %>
    You currently have no friends.
  <% else %>
    <ul>
      <% @user.friends.uniq.each do |friend| %>
        <li>
          <%= friend.email %>
        </li>
      <% end %>
    </ul>
  <% end %>
</section>

<section id="party_card">
  <h3>
    Viewing Parties
  </h3>
  <p>Parties you're invited to:</p>
    <ul><% @watching_party.each do |party| %>
      <li>
        Title: <%= link_to "#{party.movie_title}", "/movies/#{party.movie.api_id}", method: :get %> |
        Duration: <%= party.length %> minutes |
        Date: <%= party.date_of_party.strftime("%m/%d/%Y") %> |
        Time: <%= party.time_of_party.strftime("%H:%M") %> UTC |
        Invited by: <%= User.find("#{party.host_id}").email %>
      <% end %>
      </li>
    </ul>
  <p>Parties you're hosting:</p>
  <ul><% @hosting_party.each do |party| %>
    <li>
      Title: <%= link_to "#{party.movie_title}", "/movies/#{party.movie.api_id}", method: :get %> |
      Duration: <%= party.length %> minutes |
      Date: <%= party.date_of_party.strftime("%m/%d/%Y") %> |
      Time: <%= party.time_of_party.strftime("%H:%M") %> UTC
    <% end %>
    </li>
  </ul>
</section>
