<h1 class='welcome'><%= "Welcome, #{@user.email}!" %></h1>
<section>
  <div class="nav_buttons">
    <%= button_to "Discover Movies", "/discover", method: :get %>
    <%= form_with url: dashboard_index_path, method: :post, local: true do |f| %>
      <%= f.label :friend_search, "Enter an email to find a friend: " %>
      <%= f.text_field :friend_search %>

      <%= f.submit "Add friend" %>
    <% end %>
  </div>

<section class='dashboard_info'>
  <div>
    <h2 class="friends">Friends</h2>
    <div class='no-friends'>
    <% if @user.friends.count == 0 %>
      <h3>You currently have no friends. Why not add some now?<h3>
    <% else %>
    </div>
      <ul class='have-friends'>
        <% @user.friends.uniq.each do |friend| %>
          <h3><span>&#x1F3A5</span> <%=friend.email %></h3>
        <% end %>
      </ul>
    <% end %>
  </div>
  <div>
    <h2 class='vp-title'>Viewing Parties</h2>
    <div>
    <h3 class='vp-title'>Parties you're invited to:</h3>
      <div class='card'>
      <% @watching_party.each do |party| %>
        <div class='poster'><%= image_tag "https://image.tmdb.org/t/p/w500/#{MovieService.return_single_movie(Movie.find(party.movie_id).api_id)[:backdrop_path]}" %></div>
        <p>
          <p>Title: <%= link_to "#{party.movie_title}", "/movies/#{party.movie.api_id}", method: :get %> </p>
          Duration: <%= party.length %> minutes |
          Date: <%= party.date_of_party.strftime("%m/%d/%Y") %> |
          Time: <%= party.time_of_party.strftime("%H:%M") %> UTC |
          Invited by: <%= User.find("#{party.host_id}").email %>
        <% end %>
        </p>
        </div>
        <div>
      </div>
    <h3 class='vp-title'>Parties you're hosting:</h3>
    <div class='card'>
    <% @hosting_party.each do |party| %>
      <div class='img.poster'><%= image_tag "https://image.tmdb.org/t/p/w500/#{MovieService.return_single_movie(Movie.find(party.movie_id).api_id)[:backdrop_path]}" %></div>
      <p>
        <p>Title: <%= link_to "#{party.movie_title}", "/movies/#{party.movie.api_id}", method: :get %></p>
        Duration: <%= party.length %> minutes |
        Date: <%= party.date_of_party.strftime("%m/%d/%Y") %> |
        Time: <%= party.time_of_party.strftime("%H:%M") %> UTC
      <% end %>
      </p>
    </div>
    </div>
    </div>
</section>
