<h1 class='welcome'><%= "Welcome, #{@user.email}!" %></h1>
<section>
  <div class="nav_buttons">
    <%= button_to "Discover Movies", "/discover", method: :get %>
    <%= form_with url: dashboard_index_path, method: :post, local: true do |f| %>
      <%= f.label :friend_search, "Enter an email to find a friend: " %>
      <%= f.text_field :friend_search %>

      <%= f.submit "Add friend" %>
    <% end %>
  </div>

<section class='dashboard_info'>
  <div>
    <h2 class="title">Friends</h2>
    <% if @user.friends.count == 0 %>
      <h3>You currently have no friends. Why not add some now?<h3>
    <% else %>
      <ul>
        <% @user.friends.uniq.each do |friend| %>
          <h3><span>&#x1F3A5</span> <%=friend.email %></h3>
        <% end %>
      </ul>
    <% end %>
  </div>
  <div>
    <h2 class="title">Viewing Parties</h2>
    <div>
    <h3 class="title">Parties you're invited to:</h3>
      <% @watching_party.each do |party| %>
        <p class='card'>
          Title: <%= link_to "#{party.movie_title}", "/movies/#{party.movie.api_id}", method: :get %> |
          Duration: <%= party.length %> minutes |
          Date: <%= party.date_of_party.strftime("%m/%d/%Y") %> |
          Time: <%= party.time_of_party.strftime("%H:%M") %> UTC |
          Invited by: <%= User.find("#{party.host_id}").email %>
        <% end %>
        </p>
        </div>
        <div>
    <h3 class="title">Parties you're hosting:</h3>
    <% @hosting_party.each do |party| %>
      <p class="card">
        Title: <%= link_to "#{party.movie_title}", "/movies/#{party.movie.api_id}", method: :get %> |
        Duration: <%= party.length %> minutes |
        Date: <%= party.date_of_party.strftime("%m/%d/%Y") %> |
        Time: <%= party.time_of_party.strftime("%H:%M") %> UTC
      <% end %>
      </p>
    </div>
    </div>
</section>
