<section>
<h1 class='welcome'>Welcome, <%="#{current_user[:email]}!"%></h1>
<div class='movie_display'>
  <%= button_to "Create Viewing Party For Movie", "/parties/new", params: { :movie_id => params[:id] }, method: :get %>
  <h2> <%=@movie[:original_title] %></h2>
  <%= image_tag "https://image.tmdb.org/t/p/w500/#{@movie[:poster_path]}" %>
  <p>Runtime: <%=@movie[:runtime] %></p>
  <% if @movie[:genres] == nil || @movie[:genres] == [] %>
      <p>Your selected movie has no genre content.</p>
    <% else %>
      <p>Genre:<%@movie[:genres].each do |genre| %> <%=genre[:name]%>  <%end%></p>
  <%end%>
  <p>Summary: <%=@movie[:overview] %></p>
    <% if @movie[:vote_average] == nil || @movie[:vote_average] == 0.0 %>
      <p>Your selected movie has no vote average.</p>
    <% else %>
      <p>Vote Average: <%=@movie[:vote_average]%></p>
    <%end%>
    <% if @movie[:vote_count] == nil || @movie[:vote_count] == 0.0 %>
      <p>Your selected movie has no vote counts.</p>
    <% else %>
      <p>Vote Count: <%=@movie[:vote_count]%></p>
    <%end%>
  <p>Characters and Cast: <%@cast[:cast].take(10).map do |member|%>
                            <p><%="#{member[:character]} is played by Actor(ess) #{ member[:name]}."%></p>
                            <%end%>
    <% if @reviews[:results] == nil || @reviews[:results] == [] %>
      <p>Your selected movie has no review content.</p>
    <% else %>
      <p>Reviews: <%@reviews[:results].each do |result|%><p>
        <p>Author: <%=result[:author]%><p>
        <p>Content: <%=result[:content]%><p>
      <%end%>
    <%end%>
  </div>
</section>
